*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bgFFFAF0{
    background-color: #FFFAF0;
}
    

.bg6579C8{
    background: linear-gradient( to bottom, #5D71BF , #bdc9f5  );
    border-radius: 15px;
}

.delete{
    float: right;
    border: 2px solid red;
    background-color: rgb(255, 202, 202);
    border-radius: 5px;
    padding: 0px 5px;
}

.text {
    text-decoration: none;
  }
  
  .checkbox:checked ~ .text {
    text-decoration: line-through;
  }

  .checkbox , p, h2{
    display: inline;
  }

  .colorE1AA74{
    background-color: #CCEEBC;
  }

  .checkbox{
    height: 20px;
    width: 20px;
  }
  
